<li>
    <p>
        <!-- deleting post in UI url-->
        <!-- locals.user is signedIn user & id of user who currently  signedIn == id of user who made a post-->
        <!-- post.user is user's id only but in ObjectId('98765432') form 
        and post.user.id is '98765987' string format-->
        <% if(locals.user && locals.user.id == post.user.id) { %>
            <small>
               <a href="/posts/destroy/<%= post.id %>">Delete Post(X)</a>
            </small>
         <% } %>   

        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>
    </p>
    <!-- showing commment form-->
    <div class="post-comments">
        <% if(locals.user){%> 
            <form action="/comments/create" method="POST">
                <input type="text" name="content" placeholder="type here to add comment..." id="type-comment">
                <input type="hidden" name="post"  value="<%= post._id %>" >
                <input type="submit" value="Add Comment" id="add-comment">
            </form>
            <%} %>
    </div>
    <!-- dsiplaying comments and author of comments-->
    <!-- for viewing the comments signedIn not required-->
    <div id = "post-comments-list">
        <ul id="post-comments-<%= post._id%>">
            <% for(comment of post.comments) {%>
              <%- include('_comment')-%>
            <% } %>    
        </ul>
    </div>

</li>