<html>
    <head>
      <title>
       <%= title %>
      </title>
      <!-- conversion of .scss to .css files will same as we have written 
        in here like layout.css, header.css
      footer.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
      <link rel="stylesheet" href="/css/layout.css">

      <!-- including styles of header and footer which is comes from heaader.scss and footer.scss
      and intenrnally complied by sassMiddleware then paste into /assets/css folder-->
      <!-- here we are providing .css files bcs browser does not understand .scss or sass files-->

      <link rel="stylesheet" href="/css/header.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="stylesheet" href="/css/user_sign_in.css">
      <link rel="stylesheet" href="/css/user_sign_up.css">
      <link rel="stylesheet" href="/css/post.css">
      <link rel="stylesheet" href="/css/userProfile.css">

      
      <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
        <!-- this is the content part that will render at runtime i.e userProfile.ejs or home.js-->
        <!-- provided by layout library-->


        <!-- accessing flash messags in our templates 
        choosing layout.ejs bcs this is common layout for whole application-->
        <!-- <% if(flash.success && flash.success.length>0) {%>
          <h5><%= flash.success %> </h5>
        <% }%>   -->

        
        <!-- we are demonstrating how .scss contents will comipled and set into the .css files
        by saasMiddlewwaare library(node-saas-middleware)-->
        <main id = "layout-main">
          <%- body %>
        </main>
        
        <%- include('_footer'); %>

        <%- script %>

        <script>
           <% if(flash.success && flash.success.length>0) { %>
              new Noty({
              theme: 'relax',
              text: '<%=flash.success %>',
              type: 'success',
              layout:'topRight',
              timeout:1500
              }).show();
           <% }%> 
           //--for error notifications
           <% if(flash.error && flash.error.length>0) { %>
            new Noty({
              theme: 'relax',
              text: "<%= flash.error %>",
              type: 'error',
              layout:'topRight',
              timeout:1500
              }).show();
          <% } %>
        </script>
    </body>
</html>